<!-- app/views/vaccinations/_form.html.erb -->
<%= form_with(model: [vaccination.personal, vaccination], local: true, html: { class: 'vaccination-form' }) do |form| %>
  <% if vaccination.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(vaccination.errors.count, "ошибка") %> не позволили сохранить вакцинацию:</h2>
      <ul>
        <% vaccination.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :vaccine_id, "Вакцина" %>
    <%= form.collection_select :vaccine_id, Vaccine.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :vaccination_date, "Дата вакцинации" %>
    <%= form.date_field :vaccination_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit "Добавить вакцинацию", class: 'btn btn-primary' %>
  </div>
<% end %>

