<div id="<%= dom_id vaccine %>">
  <p>
    <strong>Name:</strong>
    <%= vaccine.name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= vaccine.manufacturer %>
  </p>

  <p>
    <strong>Storage conditions:</strong>
    <%= vaccine.storage_conditions %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vaccine.description %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= vaccine.expiry_date %>
  </p>

</div>
