<section class="home-info">
  <div class="container home-info-container">
    <div class="nearest-event home-info-block">
      <div class="home-info-block__main">
        <div class="home-info-block__header">
          <span class="home-info-block__title">Записи на сегодня</span>
          <%= link_to "Добавить запись", new_vaccination_schedule_path, class: 'personal-header__button' %>
        </div>
        <div class="home-info-block__main-header">
          <span class="home-info-block__span block__span">Сотрудник</span>
          <span class="home-info-block__span block__span">Вакцина</span>
          <% if Room.any? %>
            <span class="home-info-block__span block__span">
              <select id="room-filter" class="room-filter">
                <option value="">Кабинет</option>
                <% Room.all.each do |room| %>
                  <option value="<%= room.id %>"><%= room.name %></option>
                <% end %>
              </select>
            </span>
          <% else %>
            <span class="home-info-block__span block__span">Кабинеты отсутствуют</span>
          <% end %>
          <span class="home-info-block__span block__span">Время</span>
        </div>
        <ul class="home-info-block__main-list" id="schedule-list">
          <% today_schedules = VaccinationSchedule.where(vaccination_date: Date.today) %>
          <% if today_schedules.any? %>
            <% today_schedules.each do |schedule| %>
              <li class="home-info-block__main-list__item">
                <span class="home-info-block__main-list__span list_span"><%= link_to schedule.personal.fio, personal_path(schedule.personal) %></span>
                <span class="home-info-block__main-list__span list_span"><%= link_to schedule.vaccine.name, vaccine_path(schedule.vaccine) %></span>
                <% if Room.any? %>
                  <span class="home-info-block__main-list__span list_span"><%= schedule.room.name %></span>
                <% else %>
                  <span class="home-info-block__main-list__span list_span">Кабинет не указан</span>
                <% end %>
                <span class="home-info-block__main-list__span list_span"><%= schedule.vaccination_time.strftime("%H:%M") %></span>
              </li>
            <% end %>
          <% else %>
            <li class="home-info-block__main-list__item no-shedule-today">
              На сегодня нет записей
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- Другие блоки информации -->
  </div>

  <%= javascript_include_tag "auto_update" %>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const roomFilter = document.getElementById('room-filter');
    
    if (roomFilter) { // Проверяем, что элемент существует
      roomFilter.addEventListener('change', function() {
        const roomId = this.value;
        const url = `/filter_schedules?room_id=${roomId}`;

        fetch(url, {
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
        .then(response => response.text())
        .then(data => {
          document.getElementById('schedule-list').innerHTML = data;
        });
      });
    }
  });
</script>
